MONGODB_URI=mongodb+srv://civicsense_user:Aliet4thcsd4438@civicsense-ai.viambc2.mongodb.net/?appName=Civicsense-Ai
ADMIN_EMAIL=chandrasekharuppu004@gmail.com
ADMIN_PASSWORD=9440420820
VAPID_PRIVATE_KEY=gu0uSfkRaxFYAbrTwinAw_NBhXPSQn6RdlUqlVkN7uU
VAPID_EMAIL=mailto:chandrasekharuppu004@gmail.com
VAPID_PUBLIC_KEY=B your_public_vapid_key_here
jwt_secret=change_me_to_64_random_chars_in_production
NODE_ENV=production
PORT=5000
REACT_APP_BASE_URL=https://civicsense-backend-1.onrender.com
REACT_APP_API_URL=https://civicsense-backend-1.onrender.com/api
